VezelAI Website Chatbot (1).json
{
  "name": "VezelAI Website Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message ?? $json.chatInput }}",
        "options": {
          "systemMessage": "You are the AI assistant for VezelAI (https://vezelai.vercel.app/), an elite AI automation agency.\n\nYour Core Mission:\n- Answer questions accurately based on VezelAI website content\n- Guide every conversation toward booking a 45-minute Complimentary Architecture Audit\n- If you don't know something, do NOT hallucinate. Instead, offer to have the founder, Rehmat Ali, personally reach out\n\nKey Facts About VezelAI:\n- We have deployed 140+ workflows for clients\n- We deliver 4.2x efficiency gains on average\n- We specialize in AI automation, n8n workflows, and intelligent business systems\n- Founder: Rehmat Ali\n\nLead Capture Protocol:\nIf the user expresses interest in our services, working together, pricing, or booking:\n1. Ask for their Name and Work Email\n2. Once they provide it, acknowledge warmly and say: \"Perfect. You can book your free 45-minute Architecture Audit here: [CALENDLY_LINK_HERE]\"\n3. Let them know Rehmat Ali will also follow up personally\n\nTone: Elite, direct, and professional. You represent a premium agency. Be confident, concise, and results-focused. No fluff."
        }
      },
      "id": "82fd6ad6-9da5-4512-a841-20826f3d84f4",
      "name": "VezelAI AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [288, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "5eac2ef4-b6a0-44fc-b4d8-a1d963009b4b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [144, 224],
      "credentials": {
        "openAiApi": {
          "id": "GauvSdSJmHmEN8HE",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vezelai_website_knowledge",
        "toolDescription": "Search VezelAI https://vezelai.vercel.app/ website content to answer questions about services, pricing, case studies, workflows, and the agency. Use this for any question about VezelAI.",
        "pineconeIndex": {
          "__rl": true,
          "value": "vezzelai",
          "mode": "list",
          "cachedResultName": "vezzelai"
        },
        "options": {}
      },
      "id": "46136b31-8b51-483a-8702-542a5d18dedb",
      "name": "VezelAI Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [464, 224],
      "credentials": {
        "pineconeApi": {
          "id": "S8aZQ1XEKvBxOinG",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "ce31b85d-8b73-4fe0-8065-5b5ac82aed1c",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [416, 400],
      "credentials": {
        "openAiApi": {
          "id": "GauvSdSJmHmEN8HE",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "ff72f584-6b9e-4b0f-9de0-15653e17245a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [608, 32]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-144, -192],
      "id": "1fdea2dc-c7b9-404f-b9e4-82ab336a304a",
      "name": "When chat message received",
      "webhookId": "e1a164f9-f7a2-4def-818d-da74300589b4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14893bc9-7e2b-486b-9866-f6a52d4c7932",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-32, 0],
      "id": "8b0210dc-2945-41ae-963c-b50be0e399ad",
      "name": "Webhook",
      "webhookId": "14893bc9-7e2b-486b-9866-f6a52d4c7932"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId ?? $json.sessionId ?? 'static-session-id' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [304, 208],
      "id": "a3f8eebc-f653-4c41-bf2f-70a9e1879818",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [816, -160],
      "id": "85430281-52f3-4761-ab01-540f0baa7c30",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://vezelai.vercel.app/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1008, -160],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Fetch VezelAI Website"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "vezzelai",
          "mode": "list",
          "cachedResultName": "vezzelai"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Pinecone Vector Store (Insert)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [1200, -160],
      "credentials": {
        "pineconeApi": {
          "id": "S8aZQ1XEKvBxOinG",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1200, -32],
      "id": "f7164ee2-8a8a-4082-b052-b5aea3b27e72",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1200, 128],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "OpenAI Embeddings (Insert)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1200, 256],
      "credentials": {
        "openAiApi": {
          "id": "GauvSdSJmHmEN8HE",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "VezelAI AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "VezelAI AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VezelAI Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "VezelAI AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "VezelAI Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "VezelAI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "VezelAI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "VezelAI AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch VezelAI Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch VezelAI Website": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store (Insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store (Insert)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (Insert)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Insert)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e1800b44-f44b-4b40-a11c-644ef2cccb40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "424da45e08cd552683618d6b3b64c38dbefcc6a1ecca4418f93232f76f68e35e"
  },
  "nodeGroups": [],
  "id": "i2F5b1aP20JEZkSp",
  "tags": [
    {
      "updatedAt": "2026-06-13T11:50:03.991Z",
      "createdAt": "2026-06-13T11:50:03.991Z",
      "id": "OP5GUVOwoB6BAxmU",
      "name": "Chatbot"
    },
    {
      "updatedAt": "2026-06-13T11:50:03.999Z",
      "createdAt": "2026-06-13T11:50:03.999Z",
      "id": "BhSkWnUgSGvXaeMQ",
      "name": "VezelAI"
    }
  ]
}
